.basket {
    display: flex;
    margin-top: 12px;
    margin-bottom: 96px;
    position: relative;
    &__item {
        margin-bottom: 6px;
    }



    &__buy {
        margin-left: 16px;
        padding: 24px;
        background: #FFFFFF;
        position: sticky;
        top: 50px;

        &__title {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #393939;
            margin-bottom: 16px;
        }

        &__item {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #979797;
            display: flex;
            justify-content: space-between;

            span {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                text-align: right;
                color: #393939;
            }
        }

        &__item:not(:last-child) {
            margin-bottom: 12px;
        }

        @media screen and (max-width: 320px) {
            &__notMini {
                display: none;
            }
        }

        @media screen and (min-width: 321px) {
            &__mini {
                display: none;
            }
        }

        &__innert {
            margin: 24px 0;
            height: 2px;
            width: 100%;
            background-color: #000000;
            background-color: #3A343403;
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23BFBFBFFF' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='80' stroke-linecap='square'/%3e%3c/svg%3e");
        }

        &__btn {
            white-space: nowrap;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
            padding: 14px 107px;
            background: #E5271B;
            border: none;
            outline: none;
            cursor: pointer;
        }

        &__more {
            display: none;
        }
    }

    &__result {
        &__title {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #393939;
        }

        &__text {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #393939;
            margin: 16px 0 48px;
        }

        &__similarProduct {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #393939;
            margin-bottom: 16px;
        }
    }


}

@media screen and (max-width: 320px) {

    .basket {
        display: block;
        margin-bottom: 0;
        position: relative;

        &__item {
            max-width: 268px;
        }

        &__buy {
            width: 272px;
            margin: 0;

            &__btn {
                padding: 14px 83px;
            }

            &__none {
                display: none;
            }

            &__more {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 274px;
                border: 1px solid #EFEFEF;
                background: #fff;
                padding: 7px 0px;
                margin-bottom: 10px;
                cursor: pointer;
            }
        }

    }

    .sticky {
        position: sticky;
        bottom: 0px;
    }
}