.productsPage {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    &__img {
        max-width: 640px;

        img {
            cursor: pointer;
        }

        div:not(:last-child) {
            margin: 0 8px 8px 0;
        }

    }

    &__imgFour {
        display: flex;
        flex-wrap: wrap;
        max-width: 640px;

        img {
            max-width: 308px;
            cursor: pointer;
        }

        .active1 {
            img {
                position: fixed;
                width: 500px;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
            }
        }

        div:not(:last-child) {
            margin: 0 8px 8px 0;
        }
    }

    &__imgEight {
        display: flex;
        flex-wrap: wrap;

        img {
            width: 150px;
            cursor: pointer;
        }

        div:not(:last-child) {
            margin: 0 8px 8px 0;
        }

        .active {
            img {
                position: fixed;
                width: 500px;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__text {
        max-width: 480px;
        background: #FFFFFF;
        padding: 20px;
        height: 100%;
    }

    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #393939;
    }

    &__identification {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: #1D1D1B;
        margin: 21px 0 16px;

        span {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: #393939;
        }
    }

    &__color {
        display: flex;
        align-items: center;

        p {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #1D1D1B;
            margin-right: 6px;
        }

        &__notActive {
            margin-right: 10px;
            padding: 4px;
            border-width: 1px;
        }

        &__active {
            border: solid #73A39D;
            border-width: 1px;
        }

        &__colorBrown {
            width: 8px;
            height: 8px;
            opacity: 0.47;
            border-radius: 4px;
            cursor: pointer;
        }

    }

    &__price {
        display: flex;
        align-items: flex-end;
        margin: 20px 0;

        &New {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #393939;
        }

        &Old {
            margin-left: 6px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-decoration-line: line-through;
            color: #979797;
        }
    }

    &__info {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #393939;
    }

    &__description {
        margin: 6px 0 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        color: #6A6A6A;
    }

    &__characteristics {
        display: flex;

        &Left {
            margin-right: 62px;
        }

        &__data {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #1D1D1B;
            margin-bottom: 14px;

            span {
                margin-left: 6px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #1D1D1B;
            }
        }


    }

    &__btn {
        display: flex;
    }



    &__addToFavorites {
        padding: 10px 10px;
        background: #1D1D1B;
        border: none;
        outline: none;

        svg:hover {
            cursor: pointer;
        }
    }

}

@media screen and (max-width: 320px) {
    .productsPage {
        flex-wrap: wrap;
        margin-left: 16px;

        &__img {
            img {
                max-width: 262px;
            }
        }

        &__text {
            max-width: 268px;
            padding: 18px 12px;
        }

        &__title {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }

        &__identification {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            margin: 20px 0 14px;

            span {
                line-height: 17px;
            }
        }

        &__color {
            p {
                font-weight: 400;
            }
        }

        &__price {
            margin: 20px 0 18px;

            &New {
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
            }

            &Old {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
            }
        }

        &__info {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }

        &__description {
            font-weight: 400;
            font-size: 13px;
            line-height: 170%;
        }

        &__characteristics {
            display: block;
        }


    }
}

.similarProducts {
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #393939;
        margin-bottom: 16px;
    }

}

@media screen and (max-width: 320px) {
    .similarProducts {
        margin-left: 17px;

        &__title {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }
    }
}