.cardsCollection {
    display: flex;
    flex-wrap: wrap;

    &__item {
        margin: 3px;
    }
}


@media screen and (max-width: 320px) {
    .cardsCollection {
        margin-left: 16px;
    }
}


.mini{
    display: none;
}
.not__mini{
    display: block;
}
@media screen and (max-width: 320px) {
    .mini{
        display: block;
    }
}
@media screen and (max-width: 320px) {
    .not__mini{
        display: none;
    }
}