.cardsCollection {
    display: flex;
    flex-wrap: wrap;

    &__item {
        margin: 3px;
    }
}


@media screen and (max-width: 320px) {
    .cardsCollection {
        margin: 0 16px;
        display: block;
    }
    &__item {
        margin: 0px 16px;
    }
}