.benefits {
    display: flex;
    margin-bottom: 64px;
}

@media screen and (max-width: 320px) {
    .benefits {
        display: flex;
        flex-wrap: wrap;
        margin-left: 16px;
        margin-bottom: 196px;
    }

    .benefit {
        margin-bottom: 8px;
    }
}

.benefit {
    background: #FFFFFF;
    width: 286px;
    height: 248px;
    padding-bottom: 24px;
    &__content {
        text-align: center;

        img {
            margin: 32px 0 35px;
        }
    }

    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #393939;
        margin-bottom: 10px;
    }

    &__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #979797;

    }
}

.benefit:not(:last-child) {
    margin-right: 8px;
}