.headerNav {
    background-color: #fff;
    padding: 22px 0;

    &__item {
        display: flex;

        p {
            margin-right: 6px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #393939;

        }
    }
}