.header {
  background-color: #fff;
  padding-bottom: 0.7px;
}

.inner {
  width: 100%;
  background: #FFFFFF;
  padding: 2px 0;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
  margin: 0;
}

ul {}

.navbar {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      display: flex;
      font-style: normal;

      ul {
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
        color: #393939;
        margin-right: 24px;
        padding-inline-start: 0px;
      }
    }

  }

  &__phone {
    display: flex;

    a {
      text-decoration: none;
      color: #393939;

    }

    .navbarPhone {
      margin-right: 6px;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 21px;
      color: #979797;


    }

    .num {
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 21px;
      text-align: right;
      color: #393939;
      text-decoration: none;
    }
  }



  .logo {
    width: 162px;
    height: 70px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    padding: 9px 0;
    justify-content: space-between;



    .search {
      display: flex;
      width: 662px;

      input {
        background-image: url(../../../public/img/searchIcon.svg);
        background-repeat: no-repeat;
        background-position: right 3% bottom 50%;
        outline: none;
        position: relative;
        margin: 0 25px;
        width: 100%;
        height: 44px;
        padding-left: 20px;
        border: 1px solid #e0e0e0;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #858f9b;
      }

    }

    @media (max-width:1168) {
      input {
        max-width: 50px;
      }
    }
  }

  .bottom {
    &__favorites {
      display: flex;
      align-items: center;
      padding-right: 20px;
      border-right: 1px solid #d3d3d3;

      img {
        margin-right: 10px;
      }
    }

    &__favorites {
      &__icon {
        position: relative;
      }

      &__red {
        content: '';
        position: absolute;
        top: 0;
        right: 25%;
        border-radius: 50%;
        background: #E5271B;
        width: 10px;
        height: 10px;
        transform: scale(0);
      }
      &__active{
        transform: scale(1);
      }
      span {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #393939;
      }
    }

    &__basket {
      display: flex;
      align-items: center;
      margin-left: 20px;



      span {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #393939;
      }

      img {
        margin-right: 10px;
      }
    }
  }
}