.miniHedaer{
  position: relative;
}
.header {
  background-color: #fff;
  padding: 10px 0px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .searchBox {
    position: relative;
  }

}

@media screen and (min-width: 321px) {
  .header {
    display: none;
  }
}

.activeMenu {
  display: none;
}