.header {
  background-color: #fff;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .searchBox{
    position: relative;
  }

}
@media screen and (min-width: 321px) {
  .header{
    display: none;
  }
}