.mySwiper {
  margin-top: 10px;
}

.swiper {
  width: 100%;
  height: 100%;
}



.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .swiper-slide img {
    width: 320px;
  }
}

.mySwiper img {
  padding-bottom: 25px;
}
.swiper-slide {
  background: none;
}


@media screen and (max-width: 320px) {
  .bagImage {
    height: 300px;
    background-image: url(./../../../../public/img/imageis.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    img {
      display: none;
    }
  }
}