.card__img {
    &__loveIcon {
        content: '';
        position: absolute;
        right: 3%;
        top: 3%;
        &__hover:hover{
            path{
                fill: white;
            }
        }
    }
}