.favorites {
    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #393939;
        margin: 11px 0;
    }

    &__length {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #979797;

        span {
            margin-left: 6px;
        }

        margin-bottom: 16px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin: 3px;
        margin-bottom: 18px;
    }
}

.similarProduct {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
    margin: 48px 0 16px;
}

@media screen and (max-width: 320px) {
    .favorites{
        margin-left: 16px;
    }
    .similarProduct {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
}