.footer {
    background: #1D1D1B;
    padding: 48px 0 24px;

    &__item {
        display: flex;
    }

    p {
        margin-block-start: 0;
        margin-bottom: 17px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #E2E2E2;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        padding-left: 16px;

        &__item {
            display: block;
        }
    }
}

.logo {
    margin-right: 123px;

    span {
        display: block;
        margin-top: 37px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #B9B9B9;

    }
}

@media screen and (max-width: 320px) {
    .logo {
        margin-bottom: 26px;
    }
}

.сompany {
    a {
        display: block;
        text-decoration: none;
        margin-bottom: 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 320px) {
    .сompany {
        margin-bottom: 24px;
    }
}

.contacts {
    margin: 0 150px;

    img {
        margin-right: 7px;
    }

    div {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }

    span,
    a {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }

    a {
        text-decoration: none;
    }
}

@media screen and (max-width: 320px) {
    .contacts {
        margin: auto;
        .contacts__num {
            display: flex;
            align-items: center;
            margin-bottom: 13px;
        }
    }
}

.socialNetwork {
    img {
        margin-right: 7px;
    }

    div {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }

    a {
        display: block;
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }
}
@media screen and (max-width: 320px) {
    .socialNetwork{
        margin: 24px 0 18px;
    }
}
.developed {
    margin-top: 16px;
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B9B9B9;
}

.publicOffer{
    display: none;
}
@media screen and (max-width: 320px) {
    .publicOffer{
        display: block;
    }
}