.cards{
    display: flex;
    flex-wrap: wrap;
}
.card{
margin:8px 3px 3px ;
}

@media screen and (max-width: 320px) {
    .cards {
        margin: 0 16px ;
    }
}

.mini{
    display: none;
}
.not__mini{
    display: block;
}
@media screen and (max-width: 320px) {
    .mini{
        display: block;
    }
}
@media screen and (max-width: 320px) {
    .not__mini{
        display: none;
    }
}