body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a,
Link {
  text-decoration: none;
}

body {
  background-color: #ECECEC;
  font-family: 'Montserrat';
  margin: 0;
}

.container {
  max-width: 1168px;
  margin: 0 auto;
}
.loader-content{
  z-index: 101;
  height: 100vh;
  width: 100vw;
  background: #ECECEC;
  position: fixed;
  top: 0;
  left: 0;
}
.loader-All {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) ;
}